@page 
@model Article.Areas.Admin.Pages.CreateModel
@{
}

<div>
    <h3>Artikel telah disimpan</h3>
</div>


<script>
    setTimeout(function () {
        window.location.href = "/admin";
        }, 1000);
</script>