@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var articles = ViewData["articles"] as List<Article.Model.Articles>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
</div>


<table class="table table-striped">
    <tbody>
        @foreach (var item in articles)
        {
            <tr>
                <td>
                    <h2 id="title-@item.id" onclick="javascript: articleDetail(this)">@item.Titile</h2>
                    Author : @item.Owner <br>
                    <div class="art-content-div">
                        @item.Content <br><br>
                    </div>
                </td>
            </tr>
            <br>
        }
    </tbody>
</table>





@section Scripts
{
<script type="text/javascript">
function articleDetail(ID){
    var id = ID.id.substring(6, ID.id.length);

    window.location.href = '/ArticleDetail?id=' + id;
}
</script>
}